<div class="card" th:fragment="card-estacao">
  <div class="card-header">
    <span>Nome: <strong th:text="${est.nome}"></strong></span>
    
  </div>
  
  <div class="card-body">
  	<div class="card-header">
	<ul class="navbar-nav" id="accordionSidebar">
	  <li class="nav-item"><span>Descrição: <strong th:text="${est.descricao}"></strong><br></span></li>
	  <li class="nav-item"><span>Coordenadas: <strong th:text="${est.posicaoMapa}"></strong><br></span></li>
	</ul>
  	</div>
  	<div class="card-body">
  	<button class="btn btn-secondary"><a style="text-decoration: none; color: black; font-weight: bold" th:href="${'/estacao/' + est.id}">TUDO</a></button>
    <button class="btn btn-primary"><a style="text-decoration: none; color: black; font-weight: bold" th:href="${'/estacao/' + est.id}">HOJE</a></button>
    <button class="btn btn-success"><a style="text-decoration: none; color: black; font-weight: bold" th:href="${'/estacao/' + est.id}">ESTÁ SEMANA</a></button>
    <button class="btn btn-info"><a style="text-decoration: none; color: black; font-weight: bold" th:href="${'/estacao/' + est.id}">ESTE MÊS</a></button>
  	</div>
    <table class="table" style="font-size:12px">
    <thead>
		<tr>
		    <th scope="col">ID DADOS</th>
		    <th scope="col">TEMPERATURA</th>
		    <th scope="col">UMIDADE DO AR</th>
		    <th scope="col">VELOCIDADE DO VENTO</th>
		    <th scope="col">DIREÇÃO DO VENTO</th>
		    <th scope="col">PRECIPITAÇÃO</th>
		    <th scope="col">RADIAÇÃO SOLAR</th>
		    <th scope="col">DATA</th>
		</tr>
   </thead>
   <tbody>
	    <tr th:if="${dadosMeteriologicos.empty}">
	    	<td colspan="2"> Não tem dados </td>
	    </tr>
	   	<tr th:each="dadosMeteriologico : ${dadosMeteriologicos}">
	       <th scope="row" th:text="${dadosMeteriologico.id}"></th>
	       <td th:text="${dadosMeteriologico.temperatura + 'Cº'}"> </td>
	       <td th:text="${dadosMeteriologico.umidadeAr + '%'}"></td>
	       <td th:text="${dadosMeteriologico.velocidadeVento + 'KM'}"></td>
	       <td th:text="${dadosMeteriologico.direcaoVento}"></td>
	       <td th:text="${dadosMeteriologico.precipitacaoChuva + '%'}"></td>
	       <td th:text="${dadosMeteriologico.radicaoSolar + '%'}"></td>
	       <td th:text="${dadosMeteriologico.data}"></td>
	   	</tr>
    </tbody>
</table>
  </div>
</div>