<table class="table" style="font-size: 12px" th:fragment="tabela">
	<thead>
		<tr>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=id&amp;sortDir=' + ${reverseSortDir}}">ID
					DADOS</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=estacaoMeteriologica.nome&amp;sortDir=' + ${reverseSortDir}}">ESTAÇÃO</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=temperatura&amp;sortDir=' + ${reverseSortDir}}">TEMPERATURA</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=umidadeAr&amp;sortDir=' + ${reverseSortDir}}">UMIDADE
					DO AR</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=velocidadeVento&amp;sortDir=' + ${reverseSortDir}}">VELOCIDADE
					DO VENTO</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=direcaoVento&amp;sortDir=' + ${reverseSortDir}}">DIREÇÃO
					DO VENTO</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=precipitacaoChuva&amp;sortDir=' + ${reverseSortDir}}">PRECIPITAÇÃO</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=radicaoSolar&amp;sortDir=' + ${reverseSortDir}}">RADIAÇÃO
					SOLAR</a></th>
			<th><a
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage} + '?sortField=data&amp;sortDir=' + ${reverseSortDir}}">DATA</a></th>

		</tr>
	</thead>
	<tbody>
		<tr th:if="${dadosMeteriologicos.empty}">
			<td colspan="2">Não tem dados</td>
		</tr>

		<tr th:each="dadosMeteriologico : ${dadosMeteriologicos}">
			<th scope="row" th:text="${dadosMeteriologico.id}"></th>
			<td th:text="${dadosMeteriologico.estacaoMeteriologica.nome}"></td>
			<td th:text="${dadosMeteriologico.temperatura + 'Cº'}"></td>
			<td th:text="${dadosMeteriologico.umidadeAr + '%'}"></td>
			<td th:text="${dadosMeteriologico.velocidadeVento + 'KM'}"></td>
			<td th:text="${dadosMeteriologico.direcaoVento}"></td>
			<td th:text="${dadosMeteriologico.precipitacaoChuva + '%'}"></td>
			<td th:text="${dadosMeteriologico.radicaoSolar + '%'}"></td>
			<td th:text="${dadosMeteriologico.getDataBr()}"></td>
		</tr>
	</tbody>
</table>

<div th:fragment="nav-table">
	<nav th:if="${totalPages > 1}">
		<ul class="pagination p-0 mb-2">
			<li class="page-item"
				th:each="i: ${#numbers.sequence(1, totalPages)}"><a
				class="page-link p-1" th:if="${currentPage != i}"
				th:href="@{'/estacao/' +${id}+ '/' + ${i}+ '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">[[${i}]]</a>

				<a class=""
				th:classappend="${currentPage != i} ?  'page-link p-1': 'page-link alert-dark p-1'"
				th:unless="${currentPage != i}">[[${i}]]</a> &nbsp;&nbsp; </a></li>
			<li class="page-item" id="div-pagened-voltar"
				th:if="${currentPage >= 2}"><a class="page-link p-1"
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">Voltar</a>
			</li>
			<li th:if="${currentPage < totalPages || currentPage != totalPages}"
				class="page-item"><a class="page-link p-1"
				th:if="${currentPage < totalPages}"
				th:href="@{'/estacao/' +${id}+ '/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">Próxima</a>
			</li>

			<li class="page-item"
				th:if="${currentPage < totalPages || currentPage != totalPages}">
				<a class="page-link p-1" th:if="${currentPage < totalPages}"
				th:href="@{'/estacao/' +${id}+ '/' + ${totalPages}+ '?sortField=' + ${sortField} + '&amp;sortDir=' + ${sortDir}}">
					Última</a>
			</li>
		</ul>
		<div style="font-weight: bold" id="total-dado-listadados">Total
			Dados: [[${totalItems}]]</div>
	</nav>
</div>
