<nav th:fragment="navegacao" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
	<div class="container-fluid d-flex flex-column p-0">
		<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
	        <div class="sidebar-brand-text mx-3">
	        	<span>Estações</span>
	       	</div>
	    </a>
	    <hr class="sidebar-divider my-0">
	    
	    <ul th:if="${estacaoMeteriologicas==null}" class="navbar-nav text-light" id="accordionSidebar">
	        <li class="nav-item"><a class="nav-link active" href="#"><i class="fas fa-exclamation-circle"></i><span><strong>Nenhum uma estação encontrada</strong><br></span></a></li>
	    </ul>
	    <ul th:each="estacaoMeteriologica : ${estacaoMeteriologicas}">
	    	<li class="nav-item"><a class="nav-link active" th:href="${estacaoMeteriologica.id}"><i class="fas fa-meteor"></i><span><strong th:text="${estacaoMeteriologica.nome + ' #' + estacaoMeteriologica.id}"></strong><br></span></a></li>
	    </ul>
	    <div class="text-center d-none d-md-inline">
	    	<button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
	   	</div>
	</div>
</nav>