<table class="table" style="font-size:12px" th:fragment="tabela">
    <thead>
		<tr>
		    <th scope="col">ID DADOS</th>
		    <th scope="col">ID ESTAÇÃO</th>
		    <th scope="col">TEMPERATURA</th>
		    <th scope="col">UMIDADE DO AR</th>
		    <th scope="col">VELOCIDADE DO VENTO</th>
		    <th scope="col">DIREÇÃO DO VENTO</th>
		    <th scope="col">PRECIPITAÇÃO</th>
		    <th scope="col">RADIAÇÃO SOLAR</th>
		    <th scope="col">DATA</th>
		</tr>
   </thead>
   <tbody>
	    <tr th:if="${dadosMeteriologicos.empty}">
	    	<td colspan="2"> Não tem dados </td>
	    </tr>
	   	<tr th:each="dadosMeteriologico : ${dadosMeteriologicos}">
	       <th scope="row" th:text="${dadosMeteriologico.id}"></th>
	       <td th:text="${dadosMeteriologico.idEstacao}"></td>
	       <td th:text="${dadosMeteriologico.temperatura + 'Cº'}"> </td>
	       <td th:text="${dadosMeteriologico.umidadeDoAr + '%'}"></td>
	       <td th:text="${dadosMeteriologico.velocidadeDoVento + 'KM'}"></td>
	       <td th:text="${dadosMeteriologico.direcaoDoVento}"></td>
	       <td th:text="${dadosMeteriologico.precipitacaoDaChuva + '%'}"></td>
	       <td th:text="${dadosMeteriologico.radicaoSolar + '%'}"></td>
	       <td th:text="${dadosMeteriologico.data}"></td>
	   	</tr>
    </tbody>
</table>
