<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/base :: head(Início)"/>

<body id="page-top">
    <div id="wrapper">
        
        <nav th:insert="fragments/navegacao :: navegacao"></nav>
        
        <div class="d-flex flex-column" id="content-wrapper">
        	
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                    	<button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    	<div>
	                    	<button>DIA</button>
	               			<button>SEMANA</button>
	                		<button>MÊS</button>
                    	</div>
                   	</div>
                </nav>
                
                <div th:insert="fragments/tabela :: tabela"></div>
            </div>
            
            
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Laércio 2022</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
        	<i class="fas fa-angle-up"></i>
        </a>
    </div>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/theme.js}"></script>
</body>

</html>