<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/base :: head(Início)"/>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
            	<a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-text mx-3">
                    	<span>Estações</span>
                   	</div>
                </a>
                <hr class="sidebar-divider my-0">
				<ul th:replace="fragments/nav-estacao"></ul>
                <div class="text-center d-none d-md-inline">
                	<button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
               	</div>
            </div>
        </nav>
        
        <div class="d-flex flex-column" id="content-wrapper">
        	
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button></div>
                </nav>
                
               	<div th:replace="fragments/tabela :: tabela"></div>
            </div>
            
            
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Laércio 2022</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
        	<i class="fas fa-angle-up"></i>
        </a>
    </div>
    <script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/js/theme.js}"></script>
    
</body>

</html>